.landing-page {
  display: flex;
  flex-direction: column;
}

.lp-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: white;
  width: 100%;
  height: 10vw;
}

.logo-header {
  width: 15vw;
  margin-left: 10%;
}

.nav-links {
  display: flex; /* Use flex display for vertical alignment */
  align-items: center; /* Vertically center-align the content */
  margin-right: 5%;
  margin-top: 0.5vw;
}

.nav-links a {
  font-size: 1.2vw;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  margin-right: 5vw;
}

.nav-links a:hover {
  color: #555;
}

.intro {
  width: 75%;
  font-size: 20px;
  color: #1c1b1b;
  display: inline-flexbox;
  text-align: center;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
}

.banner {
  display: flex; /* Add flex display */
  justify-content: center; /*Center horizontally*/
  align-items: center; /* Center vertically */
  text-align: center;
  background-color: white;
  height: 27.5vw;
}

.caption {
  width: 75%;
  font-size: 6vw;
  color: black;
  display: inlin;
  font-weight: 300;
}

.typing-effect {
  font-size: 6vw;
  display: inline-flexbox;
  white-space: nowrap;
}

.line1 {
  width: 15%;
  height: 0.1vw;
  background-color: black;
  margin-left: 10%;
  margin-top: 5vw;
  display: inline-flexbox;
}

.line2 {
  width: 15%;
  height: 0.1vw;
  background-color: black;
  margin-left: auto;
  margin-top: 1vw;
  margin-right: 10%;
  display: inline-flexbox;
}

.cta1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1vw;
}

.cta1 p {
  font-size: 2.25vw;
  width: 40%;
  color: black;
  margin-bottom: 1.5vw;
  margin-top: 1vw;
}

.cta1 button {
  display: inline-block;
  padding: 0.75vw 1.5vw;
  background-color: white;
  color: black;
  font-size: 1.2vw;
  font-weight: bold;
  text-decoration: none;
  border: 0.125vw solid black;
  border-radius: 0.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta1 button::after {
  content: "\2192"; /* Unicode for right arrow (→) */
  font-size: 1.6vw;
  margin-left: 0.25vw; /* Adjust the space between the button text and the arrow */
}

.cta1 button:hover {
  background-color: black;
  color: white;
}

.section-creator {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 3vw;
  width: 80%;
  background-color: white;
  margin-left: 10%;
}

.creator-image {
  width: 50%;
}

.creator-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.creator-info label {
  font-size: 1.75vw;
  font-weight: bold;
  margin: 0vw auto;
  margin-bottom: 0.5vw;
}

.creator-info p {
  font-size: 1.2vw;
  width: 80%;
  align-self: center;
  margin: 0vw auto;
}

.section-brand {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 3vw;
  width: 80%;
  background-color: white;
  margin-left: 10%;
}

.brand-info {
  display: flex;
  flex-direction: column;
  font-size: 1.2vw;
  align-self: center;
  text-align: center;
  margin: 0vw auto;
}

.brand-info label {
  font-size: 1.75vw;
  font-weight: bold;
  margin-bottom: 0.5vw;
}

.brand-info p {
  font-size: 1.2vw;
  width: 80%;
  align-self: center;
  margin: 0vw auto;
}

.brand-image {
  width: 50%;
}

.footer {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: row;
  margin-top: 3vw;
}

.footy {
  margin-left: 15%;
  margin-top: 1.5vw;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footy label {
  font-size: 2.5vw;
  color: black;
  margin-bottom: -0.5vw;
}

.footy p {
  font-size: 1.2vw;
  color: black;
  margin-bottom: 1vw;
}

.copyright {
  margin-bottom: 1vw;
  font-size: 1.2vw;
}

.social-icons {
  display: flex;
  align-items: center; /* Align icons vertically with the text */
}

.social-icons > * {
  margin-right: 1vw; /* Add spacing between the icons */
}

.twitter-icon,
.instagram-icon,
.linkedin-icon {
  font-size: 1.4vw; /* Adjust the icon size as needed */
}

.nav {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2vw;
  margin-left: 30%;
}

.nav a {
  text-decoration: none;
  color: #333;
  margin-bottom: 2vw;
  font-size: 1.4vw;
}
