@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.8em;
  margin-bottom: 0.4em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: #333333;
}

h2 {
  display: block;
  font-size: 1.5em;
  /* margin-top: 0.83em;
  margin-bottom: 0.83em; */
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: #404040;
}

h3 {
  display: block;
  font-size: 1.17em;
  /* margin-top: 1em;
  margin-bottom: 1em; */
  margin-top: 0.8em;
  /* margin-bottom: 0.1em; */
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: #4d4d4d;
}

h4 {
  display: block;
  font-size: 1em;
  /* margin-top: 1.33em;
  margin-bottom: 1.33em; */
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: #595959;
}

h5 {
  display: block;
  font-size: 0.83em;
  /* margin-top: 1.67em;
  margin-bottom: 1.67em; */
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: #666666;
}

h6 {
  display: block;
  font-size: 0.67em;
  /* margin-top: 2.33em;
  margin-bottom: 2.33em; */
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: #737373;
}
